<h3 class="text-left">
    <a href="{{ path('users_adminuser_accueil_administration') }}" style="background: #333; color: #fff; margin: 2px; padding: 3px;">Accueil</a> 
    <a href="{{ path('users_adminuser_save_categorie_product') }}" style="background: #333; color: #fff; margin: 2px; padding: 3px;">Applications</a> 
    <a href="{{ path('users_adminuser_ajout_nouveau_admin') }}" style="background: #333; color: #fff; margin: 2px; padding: 3px;">Team & Partenaires</a> 
</h3>