		<!--breadcrumbs start-->
        <div id="breadcrumbs-wrapper" class=" grey lighten-3">
            <!-- Search for small screen -->
            <form action="#" method="post" class="verifier-nom-domaine" style="display: inline;">
			<div class="header-search-wrapper grey hide-on-large-only">
                <i class="mdi-action-search active verifier-nom-domaine-wait"></i>
                <input type="text" name="Search" class="verifier-nom-domaine-val header-search-input z-depth-2" placeholder="Votre nom de domaine, ex: africexplorer.com">
            </div>
			</form>
        </div>
        <!--breadcrumbs end-->