<div class="col-md-12">
<div class="box" style="margin-bottom: 20px; padding-top: 30px; border-radius: 0px; background: #ddd; border:1px solid #ddd;">
<ul class="nav nav-tabs" style="border-bottom: 1px solid #fff;">
	<li class="ourreference"><a href="{{ path('produit_produit_application_references') }}"><span class="fa fa-wrench"></span> Nos références</a></li>
	<li class="contactus"><a href="{{ path('produit_service_contact_us') }}"><span class="fa fa-phone"></span> Nous contacter</a></li>
	<li class="ourservice pull-right"><a href="{{ path('produit_produit_service_struct') }}"><span class="fa fa-cog"></span> Nos services</a></li>
</ul>
<div class="tab-content">
	
</div>
</div>
</div>