<style>
    /* Customize focus-visible for keyboard */
*:focus-visible {
  border-radius: 4px;
  -webkit-animation-name: showFocus;
          animation-name: showFocus;
  -webkit-animation-duration: 0.32s;
          animation-duration: 0.32s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* Remove outline for non-keyboard :focus */
*:focus {
  outline: none;
}

/* Styling - Accordion */
details {
  margin-bottom: 8px;
  background: #fff;
  border-radius: 4px;
}

summary {
  position: relative;
  padding: 24px 24px 24px 24px;
  font-weight: 600;
  cursor: pointer;
  list-style-type: none;
}
summary::-webkit-details-marker {
  display: none;
}
summary:before {
    display: none;
}
summary p{
    margin-bottom: 15px;
}
summary p h3{
    font-size: 14px!important;
}

/* Content in Accordion fades in */
details[open] > div {
  opacity: 0;
  -webkit-animation-name: showContent;
          animation-name: showContent;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* Arrow for Accordion */
details summary:after {
  content: "";
  position: absolute;
  margin-top: 2px;
  right: 24px;
  width: 8px;
  height: 8px;
  border: solid;
  border-color: #929AB9;
  border-width: 0 2px 2px 0;
  -webkit-animation-name: flipArrowDown;
          animation-name: flipArrowDown;
  -webkit-animation-duration: 0.32s;
          animation-duration: 0.32s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

details[open] summary:after {
  margin-top: 6px;
  -webkit-animation-name: flipArrowUp;
          animation-name: flipArrowUp;
  -webkit-animation-duration: 0.24s;
          animation-duration: 0.24s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* Animation for Focus */
@-webkit-keyframes showFocus {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 0 0 2px #303859;
  }
}
@keyframes showFocus {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 0 0 2px #303859;
  }
}
/* Animation for Content */
@-webkit-keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Animation for Arrow */
@-webkit-keyframes flipArrowUp {
  100% {
    transform: rotate(-135deg);
  }
}
@keyframes flipArrowUp {
  100% {
    transform: rotate(-135deg);
  }
}
@-webkit-keyframes flipArrowDown {
  100% {
    transform: rotate(45deg);
  }
}
@keyframes flipArrowDown {
  100% {
    transform: rotate(45deg);
  }
}
</style>

<div class="col-md-12">
  <div class="shadow- bg-light1"style="padding: 0px 0px 15px 0px; z-index: 1; position: relative!important; background: #fff;  box-shadow: 0px 1px 5px 0px #d4d8de;">
	<!-- div style="height: 40px; background: #fff;"></div -->
	  <div class="container" style="padding-top: 5px;">
		<h3>Faites carrière avec nous, Votre compétence suffit.
			<span style="float: right;">
				<a href="#!">
					<span class="fa fa-heart"></span>
				</a>
			</span>
		</h3>
	  </div>
  </div>
</div>


<section  class="silly_scrollbar" style="padding-top: 20px; width: 98%; margin: 0 auto;">
<div class="container">
<div class="row">

<div class="col-md-12">
	<div class="animecourant-panel-popup" style="display: block;">
			
	</div>
</div>

	<div class="col-sm-12 col-md-8">
		<div class="border-0" style="padding:  0px 0px 50px 0px;">
			<div class="shadow3" style="border: 3px solid #9dba3d;
            border-radius: 5px;">
				<div class="article-detail article-panel" style="padding: 0px;">
					<h2>Le travail le plus génial de votre carrière sera avec le group AFHunt.</h2>
					<h4>
						Nous savons qu'à chaque être humain se cache des talents qu'il faut aller chercher pour partager le sourire au monde.
					</h4>
                    <div style="font-family: Raleway-Bold; font-style: italic; line-height: 20px; margin-top: 15px;">AFHunt confirme en 3 mois vos talents et vous donne le passport pour partager le sourire au monde !</div>
				</div>
			</div>
		

			<div class="alert alert-info" role="alert">
				<h4>Depuis les premiers pas du Group AFH, un accent particulier a été mis sur la liberté dans le travail, nous pensons que nous sommes plus productif quand nous sommes libre de travailler où nous voulons.</h4>
				<div>
					Nos politiques de recrutement sont axés sur ce modèle. Le processus d'intégration se déroule sur deux phases. Phase Une: <strong><a href="#!">La connaissance des produits et services</a></strong>, Phase deux: <strong><a href="#!">Enrôlement et attribution du bureau</a></strong>
				</div>
			</div>

            <div class="article-detail article-panel" style="padding: 0px;">
				<h2>Connaissance des produits et services</h2>
				<h4>
					En cas de validation de votre dossier, vous recevez un guide d'orientation et d'organisation de votre travail, et vous travaillé depuis chez vous à vos heures pendant 3mois. Nos portes d'entrée sont:
				</h4>
			</div>

                <details-accordion aria-role="region" aria-labelledby="h-details-accordion">
                  <details open>
                    <summary aria-describedby="Web Marketiste">Web Marketiste</summary>
                    <div>
                      <p>
                        <h6>Recherche et Saisi(e) les opportunités commerciales qui s’offrent à AFHunt à travers internet principalement.</h6> 
                        Niveau académique : Bac + 2 Minimum, toutes filières.
                        Expérience requise : Une bonne connaissance d’internet et des technologies web, 01 an minimum à un poste similaire.
                      </p>
                    </div>
                  </details>
              
                  <details>
                    <summary aria-describedby="Développeur.se Web">Développeur.se Web</summary>
                    <div class="wrapper">
                      <p>
                        <h6>Analyse, Conçoit et maintient les applications AFHunt de ses partenaires (sélectif)</h6> 
                        Niveau académique : Bac + 3 Minimum, en informatique.
                        Expérience requise : Une bonne connaissance d’internet et des langages php, javascript, html, css.
                      </p>
                    </div>
                  </details>
              
                  <details>
                    <summary aria-describedby="Commercial.e">Commercial.e</summary>
                    <div>
                      <p >
                        <h6> Le commercial.e AFHunt prospecte physiquement les produits et services AFHunt dans sa région</h6>
                        Niveau académique : Bac Minimum, toutes filières.
                        Expérience requise : 01 an minimum à un poste similaire.
                      </p>
                    </div>
                  </details>
                </details-accordion>
	</div>

</div>

<div class="col-sm-12 col-md-4">
	
	{% include 'Theme/Produit/Service/Service/menustruct.html.twig' %}
			
</div>

</div>
</div>
</section>

<script type="text/javascript">

	var bougepop = 1;
	var dimensionpop = 200;
	function activateelementPop()
	{
	var visibility = visibleElement('.animecourant-panel-popup');

	if(visibility && bougepop == 0){
		bougepop = 1;
		$('.toutleblock-popup').css('position','relative');
		$('.toutleblock-popup').css('bottom','0px');
		$('.toutleblock-popup').css('margin-bottom','0px');
	}
	}

	function stopelementPop()
	{
	var visibility = visibleElement('.stop-courant-panel-popup');

	if(visibility && bougepop == 1){
		if(visibleElement('.animecourant-panel-popup') && visibleElement('.stop-courant-panel-popup'))
		{
		}else{
		bougepop = 0;
		$('.toutleblock-popup').css('position','fixed');
		$('.toutleblock-popup').css('width',dimensionpop+'px');
		$('.toutleblock-popup').css('bottom','30px');
		$('.toutleblock-popup').css('margin-bottom','0px');
		}
	}
	}

	function controlScrollPop()
	{
		var largeur = ($(window).width());
		dimensionpop = $('.toutleblock-popup').width();
		if (largeur >= 768)
		{
			if(visibleElement('.animecourant-panel-popup') && visibleElement('.stop-courant-panel-popup'))
			{
			$('.toutleblock-popup').css('position','fixed');
			$('.toutleblock-popup').css('width',dimensionpop+'px');
			}else{
			window.setInterval(function() { stopelementPop(); }, 100);
			window.setInterval(function() { activateelementPop(); }, 100);
			}
			
		}
	}
	controlScrollPop();
</script>