

<div class="col-md-12">
    <div class="shadow- bg-light"style="margin-top: 40px; padding: 20px 0px; position: relative!important;">
        <div class="container">
          <h3>À propos de nous
              <span style="float: right;">
                  <a href="#!">
                      <span class="fa fa-heart"></span>
                  </a>
              </span>
          </h3>
        </div>
    </div>
  </div>
  
  
  <section  class="silly_scrollbar" style="padding-top: 20px; width: 98%; margin: 0 auto;">
  
  <div class="container">
  <div class="row">
  
  <div class="col-md-12">
      <div class="animecourant-panel-popup" style="display: block;">
              
      </div>
  </div>
  
  <div class="col-sm-12 col-md-8">
      <div class="border-0" style="padding:  0px;">
  
      <div class="shadow3">
          <div class="article-detail " style="background: #fff; font-size: 21px; line-height: 2;
                        
                  padding: var(--padding);
                  color: var(--text-color);
                  font-family: var(--font-family);">
  
                    <h2>Contributions</h2>
                    <h4 style="margin-bottom: 20px;">Notre coeur bat au rythme des projets que nous portons depuis les années avec vous !</h4>
          </div>
      </div>
  
      <div>
  
          <div class="alert alert-success">
              <h4>Inscrivez vous pour suivre gratuitement nos formations. </h4>
              <div>Depuis plusieurs années, nous avons intervenu dans plusieurs projets, et aujourd'hui nous voulons partager nos expériences sans restrictions avec vous.
                  <strong><a href="">Connectez-vous pour avoir accès gratuitement à tous nos partages dans un cadre approprié.</a></strong>
              </div>
          </div>
  
      </div>
  
      </div>
      
                      
      <div style="margin-top: 20px; margin-bottom: 50px;">
      
          <section>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Commentaires</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Articles liés</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Commentaires</a>
              </li>
              </ul>
              <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div style="white-space: normal!important; margin-top: 20px; min-height: 800px;">
                      <h6>fbbbbv </h6>
                  </div>		
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
              </div>
          </section>
      </div>
  </div>
  
  
  <div class="col-sm-12 col-md-4">
      <div class="toutleblock-popup">
      <div class="shadow2" style="padding: 15px; border: 1px solid #999;">
          <div class="card-body">
  
  
          <div class="single_variation_wrap">
              <div class="woocommerce-variation single_variation" style="">
                  <h6 style="border-bottom: 1px solid #ddd;">gdfgfdg par:</h6>
              </div>
              
              <div style="margin-bottom: 15px;">
                  <img src="" alt="" style="height: 50px; margin-right: 2px; float: left; background: #fff; padding: 5px; border-radius: 50%;box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                   transition: all 0.3s cubic-bezier(.25,.8,.25,1);"/>
                  <div>
                      <h6 style="margin-bottom: 3px;">Noel Martial</h6>
                      <div>Développeur web</div>
                  </div>
              </div>
          
              <div>Mise en ligne le <strong style="color: #e23a3a;">NHH</strong></div>
              <div>Dernière mise à jour <strong style="color: #e23a3a;">JJHJHJ</strong></div>
              <div>Nombre de version disponible <strong style="color: #e23a3a;">01</strong></div>
          </div>
          
          <div class="woocommerce-variation single_variation" style="margin-top: 15px;">
              <h6 style="border-bottom: 1px solid #ddd;">Mots clés associés</h6>
          </div>
          <div>
              <div style="color: #fff;">
                      <button class="tag" style="border: none;">
                          fggfgf
                      </button>
              </div>
          </div>
  
          <div class="woocommerce-variation single_variation" style="margin-top: 15px;">
              <h6><span class="fa fa-share-alt"></span> Partagez sur:</h6>
          </div>
  
    
          <ul class="list-group list-group-flush">
          
            <li class="list-group-item" style="padding: 0px;">
                <a href="" class="share-button facebook">
                  <span class="fa fa-facebook"></span> Facebook 
                </a>
                <span class="badge badge-dark float-right" style="margin-top: 15px;">12</span>
            </li>
            <li class="list-group-item" style="padding: 0px;">
                <a href="" class="share-button twitter" >
                  <span class="fa fa-twitter"></span> twitter 
                </a>
                <span class="badge badge-dark float-right" style="margin-top: 15px;">12</span>
            </li>
            <li class="list-group-item" style="padding: 0px;">
                <a href="mailto:" class="share-button twitter">
                  <svg height="24" width="24" viewBox="0 0 24 24">
                      <path fill="#FFFFFF" d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
                  </svg> Email 
                </a>
                <span class="badge badge-dark float-right" style="margin-top: 15px;">12</span>
            </li>
            <li class="list-group-item" style="padding: 0px;">
                <a href="" class="share-button tumblr" target="_blank">
                <span class="fa fa-linkedin"></span> Linkedin
                </a>
                <span class="badge badge-dark float-right" style="margin-top: 15px;">12</span>
            </li>
            <li class="list-group-item" style="padding: 0px;">
                <a href="" class="share-button google-plus">
                <span class="fa fa-heart"></span>
                Ajouter aux favoris
                </a>
                <span class="badge badge-dark float-right" style="margin-top: 15px;">12</span>
            </li>
          </ul>
          
          </div>
      </div>
      <div class="stop-courant-panel-popup">
                  
      </div>
      </div>
              
  </div>
  </div>
  </div>
  </section>
  
  
  <script type="text/javascript">
  
  var bougepop = 1;
  var dimensionpop = 200;
  function activateelementPop()
  {
  var visibility = visibleElement('.animecourant-panel-popup');
  
  if(visibility && bougepop == 0){
      bougepop = 1;
      $('.toutleblock-popup').css('position','relative');
      $('.toutleblock-popup').css('bottom','0px');
      $('.toutleblock-popup').css('margin-bottom','0px');
  }
  }
  
  function stopelementPop()
  {
  var visibility = visibleElement('.stop-courant-panel-popup');
  
  if(visibility && bougepop == 1){
      if(visibleElement('.animecourant-panel-popup') && visibleElement('.stop-courant-panel-popup'))
      {
      }else{
      bougepop = 0;
      $('.toutleblock-popup').css('position','fixed');
      $('.toutleblock-popup').css('width',dimensionpop+'px');
      $('.toutleblock-popup').css('bottom','30px');
      $('.toutleblock-popup').css('margin-bottom','0px');
      }
  }
  }
  
  function controlScrollPop()
  {
      var largeur = ($(window).width());
      dimensionpop = $('.toutleblock-popup').width();
      if (largeur >= 768)
      {
          if(visibleElement('.animecourant-panel-popup') && visibleElement('.stop-courant-panel-popup'))
          {
          $('.toutleblock-popup').css('position','fixed');
          $('.toutleblock-popup').css('width',dimensionpop+'px');
          }else{
          window.setInterval(function() { stopelementPop(); }, 100);
          window.setInterval(function() { activateelementPop(); }, 100);
          }
          
      }
  }
  controlScrollPop();
  </script>
  