



<div class="col-md-12">
  <div class="shadow- bg-light1"style="padding: 0px 0px 15px 0px; z-index: 1; position: relative!important; background: #fff;  box-shadow: 0px 1px 5px 0px #d4d8de;">
	<!-- div style="height: 40px; background: #fff;"></div -->
	  <div class="container" style="padding-top: 5px;">
		<h3>Les Statistiques
			<span style="float: right;">
				<a href="#!">
					<span class="fa fa-heart"></span>
				</a>
			</span>
		</h3>
	  </div>
  </div>
</div>


<section  class="silly_scrollbar" style="padding-top: 20px; width: 98%; margin: 0 auto;">
<div class="container">
<div class="row">

<div class="col-md-12">
	<div class="animecourant-panel-popup" style="display: block;">
			
	</div>
</div>

	<div class="col-sm-12 col-md-12">
		<div class="border-0" style="padding:  0px 0px 50px 0px;">
			<div class="shadow3">
				<div class="article-detail article-panel">
					<h2>Le Challenge est grand</h2>
					<h4 style="margin-bottom: 20px;">
						<span class="mic" style="background: #98d3ce; color: #fff;">AFHunt Group </span>	est un groupe  d'entreprises innovantes qui vise à opérer une véritable transformation numérique au Cameroun et en Afrique, pour faciliter le traitement des flux d'informations dans des entreprises et des organisations.
					</h4>
				</div>
			</div>
		

			<div class="alert alert-info" role="alert">
				<h4>Pour réussir ce challenge, AFHunt Group travail sans relâche avec une communauté dynamique qui grandi de jour en jour.</h4>
				<div>Cette communauté se mobilise sur plusieurs plans. <strong><a href="">Sur le plan technoligique</a></strong>, en partageant leurs idées et compétences; <strong><a href="">Sur le plan financié</a></strong> en investissant sur les projets porteurs; 
					<strong><a href="">Sur le plan amicale</a></strong> en partageant nos produits.
					
				</div>
			</div>

			<div class="article-detail article-panel" style="padding: 0px;">
				<h2>Notre Equipe</h2>
				<h4>
					Quelques figures qui font la fierté du groupe
				</h4>
			</div>

		</div>
	
</div>

</div>
</div>
</section>


<script type="text/javascript">
var bougepop = 1;
var dimensionpop = 200;
function activateelementPop()
{
var visibility = visibleElement('.animecourant-panel-popup');

if(visibility && bougepop == 0){
	bougepop = 1;
	$('.toutleblock-popup').css('position','relative');
	$('.toutleblock-popup').css('bottom','0px');
	$('.toutleblock-popup').css('margin-bottom','0px');
}
}

function stopelementPop()
{
var visibility = visibleElement('.stop-courant-panel-popup');

if(visibility && bougepop == 1){
	if(visibleElement('.animecourant-panel-popup') && visibleElement('.stop-courant-panel-popup'))
	{
	}else{
	bougepop = 0;
	$('.toutleblock-popup').css('position','fixed');
	$('.toutleblock-popup').css('width',dimensionpop+'px');
	$('.toutleblock-popup').css('bottom','30px');
	$('.toutleblock-popup').css('margin-bottom','0px');
	}
}
}

function controlScrollPop()
{
	var largeur = ($(window).width());
	dimensionpop = $('.toutleblock-popup').width();
	if (largeur >= 768)
	{
		if(visibleElement('.animecourant-panel-popup') && visibleElement('.stop-courant-panel-popup'))
		{
		$('.toutleblock-popup').css('position','fixed');
		$('.toutleblock-popup').css('width',dimensionpop+'px');
		}else{
		window.setInterval(function() { stopelementPop(); }, 100);
		window.setInterval(function() { activateelementPop(); }, 100);
		}
		
	}
}
controlScrollPop();
</script>
