<div class="toutleblock-popup">
	<div class="shadow3" style="padding: 15px;">
		<div class="card-body">

		<div class="single_variation_wrap">
			<div class="single_variation">
				<img src="{{ asset('templateafh/images/logo-lg-afh.png') }}" alt="" style="border-radius: 10px; border: 1px dashed #ddd;"/>
			</div>
			<div >
				<span style="font-family: Quicksand-Bold; font-size: 20px;">
					Solutions et services intelligents <span style="display: inline-block; border: 1px solid #ed6e11; padding: 3px 15px; border-radius: 15px; color: #fff; background: #9dba3d;">prêts à l'emploi</span> 
				  </span>
			</div>
			
			<div style="margin-bottom: 15px;">
				Tel: dvdvd
			</div>
			<div style="margin-bottom: 15px;">
				Wa: dvdvd
			</div>
			<div style="margin-bottom: 15px;">
				Email: dvdvd
			</div>

		</div>
		<div class="woocommerce-variation single_variation" style="margin-top: 15px;">
			<h6 style="border-bottom: 1px solid #ddd;">Réseaux Sociaux</h6>
		</div>
		
		<div class="woocommerce-variation single_variation" style="margin-top: 15px;">
			<h6 style="border-bottom: 1px solid #ddd;">Projets</h6>
		</div>
		<div style="margin-top: 15px;">
			<div style="color: #fff;">
				<a href="" class="tag">
					fggfgf
				</a>
				<a href="" class="tag">
					fggfgf
				</a>
				<a href="" class="tag">
					fggfgf
				</a>
			</div>
		</div>

		</div>
	</div>

	<div class="shadow3" style="padding: 15px; margin-top: 15px;">
		<div class="article-detail article-panel">
			<h2>Vision</h2>
			<h4 style="margin-bottom: 20px;">
				 dffdfdfd
			</h4>
		</div>
	</div>

	<div class="shadow3" style="padding: 15px; margin-top: 15px;">
		<div class="article-detail article-panel">
			<h2>Mission</h2>
			<h4 style="margin-bottom: 20px;">
				 dffdfdfd
			</h4>
		</div>
	</div>
	<div class="stop-courant-panel-popup">
				
	</div>
	</div>