<h2 style="margin-bottom: 0px;"><span class="fa fa-certificate"></span> Quelques chiffres en janvier 2017.</h2>
<div class="row">
	<div class="col-md-12" style="margin-bottom: 15px; margin-top: 15px;"><div style="border-bottom: 2px solid #34b1e7;; "> </div></div>
	<div class="col-md-12">
	<div class="container-compteur" style="margin-top: 0px; border-radius: 0px;">
	<div class="col-lg-3 col-sm-6 col-xs-12 container-block-scores">
		<div>
			<div class="counter-score employees-count">
				40
			</div>
			<span class="title-counter">
				Applications web réalisées
			</span>
			<div class="container-link-knowledge-button">
				<a href="{{ path('produit_produit_application_references') }}" class="knowledge-link-button-third">
					Quelques apps
				</a>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-sm-6 col-xs-12 container-block-scores">
		<div>
			<div class="counter-score code-line-count">
				<span class="counter-commits">
					120
				</span>
									
			</div>
			<span class="title-counter">
				Applications web hébergées <i class="fa fa-heart"></i>
			</span>
			<div class="container-link-knowledge-button">
				<a href="https://www.hosting.africexplorer.com/" class="knowledge-link-button-third" target="_blank">
					Site d'hébergement
				</a>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-sm-6 col-xs-12 container-block-scores">
		<div>
			<div class="counter-score coffee-count">5200</div>
			<span class="title-counter">
				Utilisateurs Enregistrés
			</span>
			<div class="container-link-knowledge-button">
				<a href="{{ path('produit_produit_application_references') }}" class="knowledge-link-button-third">
					Applications
				</a>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-sm-6 col-xs-12 container-block-scores last-scores">
		<div>
			<div class="counter-score coffee-machine-count">
				700
			</div>
			<span class="title-counter">
				Visites/jour en moyenne
			</span>
			<div class="container-link-knowledge-button">
				<a href="{{ path('produit_produit_application_references') }}" class="knowledge-link-button-third">
					Applications
				</a>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	</div>
	</div>
</div>