.afd-body {
  background-color: #EBEBEB;
  font-family: 'Roboto', sans-serif;
}

.afd-header {
  display: flex;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-size: cover;
}

.afd-header h1 {
  border-radius: 3px;
  color: #424242;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: 700;
  font-size: 3em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  margin: 10px;
}
.afd-header h4 {
  color: #424242;
  border-radius: 2px;
  margin: 10px;
  padding: 4px 7px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.4);
  font-style: italic;
}

@media (max-width: 767px){
	.afd-content {
		width: 80%;
	}
	.afd-header{
		height: 400px;
	}
}
@media (min-width: 767px){
	.afd-content {
		width: 95%;
	}
	.afd-header{
		height: 300px;
	}
}

.afd-content {
  display: flex;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.afd-content .afd-article {
  display: flex;
  box-sizing: border-box;
  border-radius: 10px;
  width: 200px;
  margin: 20px;
  height: 200px;
  color: #FFF;
  background: url(images/200.jpg);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  justify-content: space-around;
  align-items: center;
}
.afd-content .afd-article p {
  background-color: rgba(66, 66, 66, 0.4);
  padding: 4px 9px;
  border-radius: 2px;
}

.afd-footer {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: space-around;
  background-color: #CFD8DC;
  box-shadow: 0 -2px 9px rgba(0, 0, 0, 0.12);
  padding: 10px;
}
.afd-footer .afd-article {
  padding: 10px;
}
.afd-footer .afd-article p {
  color: #EBEBEB;
  border-radius: 3px;
  padding: 4px 8px;
  background-color: #78909C;
}

.item-app{
	padding: 0px;
}
.item-app:hover{
	background: #f8f8f8;
}
@media (max-width: 767px){
	.afd-content {
		width: 95%;
		justify-content: center;
	}
}
@media (min-width: 767px){
	.afd-content {
		width: 80%;
		justify-content: space-between;
	}
}

.totop {
	position: fixed;
	bottom: 60px;
	left: 45%;
	cursor: pointer;
	display: none;
	background: #a05b7e;
	color: #fff;
	border-radius: 25px;
	height: 50px;
	width: 10%;
	line-height: 50px;
	padding: 0 30px;
	font-size: 18px;
	padding: 0px 15px!important;
}


.pulse-button {
  position: fixed;
  display: inline-block;
  width: 400px;
  height: 400px;
  margin-left: -165px; 
  margin-top: -310px;
  font-size: 20px;
  font-weight: light;
  font-family: 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  letter-spacing: -1px;
  color: white;
  border: none;
  border-radius: 200px;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
  -webkit-animation: pulse 2.5s infinite;
  float: left;
  margin-right: 5px;
  z-index: 10;
}

.pulse-button:hover {
  -webkit-animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}
.box{
background-color:#fff;border-top:1px solid #f0f0f0;-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);padding:10px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
}

#mapwrapper{max-width:1920px;margin:0 auto;padding:0;background-color:transparent;min-width:220px}
#map_base svg{max-height:100%;width:100%;margin:0}
@media screen and (max-width: 320px)
{ #map_base svg{height:320px}}
@media screen and (max-width: 400px) and (min-width: 321px)
{ #map_base svg{height:400px}}
@media screen and (max-width: 480px) and (min-width: 401px)
{ #map_base svg{height:500px}}
@media screen and (max-width: 568px) and (min-width: 481px)
{ #map_base svg{height:600px}}
@media screen and (max-width: 685px) and (min-width: 569px)
{ #map_base svg{height:720px}}
@media screen and (max-width: 767px) and (min-width: 686px)
{ #map_base svg{height:740px}}
@media screen and (max-width: 979px) and (min-width: 768px)
{ #map_base svg{height:760px}}
@media screen and (max-width: 1024px) and (min-width: 980px)
{ #map_base svg{height:400px}}
@media screen and (max-width: 1280px) and (min-width: 1025px)
{ #map_base svg{height:450px}}
@media screen and (min-width: 1281px)
{ #map_base svg{height:480px}}
#map-tip{font:15px Trebuchet MS,Helvetica,Arial,sans-serif;display:none;padding:3px;border:1px solid #f0c36d;color:#000;z-index:1000;float:left;position:absolute;margin-top: -350px;margin-left: -30px; background: red; box-shadow:0 6px 9px rgba(0,0,0,.28); background-color: red; word-break:keep-all;white-space:nowrap}
